body {
  text-align: center;
  background-size: 1000px;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}
button {
  width: 400px;
  height: 100px;
  background-color: orange;
  font-size: 24px;
  /* I would extract repeated styles into classes */
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}
button:hover {
  background-color: aqua;
}
/* I wouldn't use IDs for styling! I'd use classes! */
#title {
  margin-top: 250px;
  text-decoration: underline;
}
p {
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}
