body{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfR-G_Mt3ITGfEDwFklvTUgBIeq9SjbIhQ0R0Ba_zD1ZXzd2Xi_g");
    background-size: 1000px;
}

/* Script title page. put the title on a time out and set the instructions. */